.login-container {
    width: 400px;
    max-width: 90%;

    margin: 100px auto;
    padding: 40px;

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(10px);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    padding: 13px;

    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
    color: white;

    outline: none;
}

.login-container input:focus {
    border-color: #4d8dff;
}

.login-container button {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: white;
    color: #111c2e;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    transition: 0.3s;
}

.login-container button:hover {
    transform: translateY(-3px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.login-container a {
    display: block;

    text-align: center;

    margin-top: 20px;

    color: white;
}

.login-container a:hover {
    text-decoration: underline;
}

.flash {
    padding: 10px;
    margin-bottom: 20px;

    border-radius: 8px;

    background: rgba(255, 80, 80, 0.15);

    text-align: center;
}