<!DOCTYPE html>
<html>
    <head>
        <title>DASHBOARD</title>
    </head>
    <body>

        <nav>
            <a href="/dashboard">Dashboard</a>

            <a href="/profile">Profile</a>
        
            <a href="/logout">Logout</a>
        </nav>
        
        <h1>
            Welcome {{ user["username"] }}!
        </h1>
        <p>Acess all your saved projects here, <br>
            and trace your progression with our Hub.
        </p>
        <a href="/profile">My Profile</a>

        <br><br>
        
    </body>
</html>