<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Login</title>
        
        <link rel="stylesheet"
          href="{{ url_for('static', filename='css/global.css') }}">

        <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">
        
    </head>
    <body>
        <div class="login-container">
            {% extends "base.html" %}

            {% block title %}
            Home - SteveHub
            {% endblock %}

            {% block content %}

            <h1>Login</h1>

            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <p class="flash">{{ message }}</p>
            {% endfor %}
            {% endwith %}

    <form method="POST">

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">LOGIN</button>

        <br><br>

        <a href="/login/google">Continue with Google</a>

    </form>

    <a href="/register">Don't have an account? Create one</a>
    {% endblock %}

</div>
            
            
        </form>
    </body>
</html>