<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                 <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}
        <h1>Login</h1>

        <form method="POST" action="/login">
            <label>Email:</label>
            <input type="email" name="email">

            <br><br>

            <label>Password:</label>
            <input type="password" name="password">

            <br><br>

            <button type="submit">Login</button>

            <a href="/login/google">
                <button type="button">Continue with google</button>
            
        </form>
    </body>
</html>