<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Account</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/register.css') }}">

</head>

<body>

    <nav class="navbar">

        <div class="logo">
            SteveHub
        </div>

        <div class="nav-links">
            <a href="/login">Login</a>
        </div>

    </nav>


    <main class="register-page">

        <div class="register-container">

            {% extends "base.html" %}

            {% block title %}
            Home - SteveHub
            {% endblock %}

            {% block content %}

            <h1>Create an Account</h1>

            <p class="register-subtitle">
                Create your SteveHub account
            </p>

            <form method="POST" action="/register">

                <label>Username:</label>
                <input type="text" name="username" required>

                <label>Email:</label>
                <input type="email" name="email" required>

                <label>Password:</label>
                <input type="password" name="password" required>

                <label>Confirm Password:</label>
                <input type="password" name="confirm_password" required>

                <button type="submit">
                    REGISTER
                </button>

            </form>

            {% endblock %}

            <p class="login-link">
                Already have an account?
                <a href="/login">Login</a>
            </p>
            

        </div>

    </main>

</body>

</html>