<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Create an Account</h1>

        <form method="POST" action="/register">
            <label>Username:</label>
            <input type="username" name="username">

            <label>Email:</label>
            <input type="email" name="email">

            <label>Password:</label>
            <input type="password" name="password">

            <label>Confirm Password:</label>
            <input type="password" name="confirm_password">


            <button type="submit">Register</button>
        </form>
    </body>
</html>